/***************************************************
Add your Google Fonts
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    /* ADD the Google sans-serif font to this font stack */
    font-family: 'Nunito', Verdana, sans-serif; 
}
html, body{
    background-color: #7D4A47;
}
h1{
    font-size: 6.854rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Nunito', Verdana, sans-serif; 
    padding: 1rem 2rem;
}
h2{
    font-size: 4.23rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Nunito', Verdana, sans-serif;
    padding: 1rem 2rem;
}
nav li{
    font-size: 2.618rem;
    font-family: 'Nunito', Verdana, sans-serif;
    
}
p{
    font-size: 1.618rem;
    padding: 1rem 2rem;
    font-family: 'Alegreya', "Courier New", serif;
}
.wrapper{
    max-width: 1400px; 
    width: 80%;
    margin: 0 auto;
    background-color: #FDD2D0;
    color: #7D1C17;
}
header{
    border-bottom: 20px solid #7D4A47;
    background-color: #7D1C17;
    color: #FDD2D0;
}
.menu-h{
    width: 100%;
    
}
    .menu-h li{
        display: inline-block;
        list-style: none;
        width: 20%;
        float:left;
        border-top: 5px solid #CA7773;
        
        
        /* style the list items to remove the bullets 
        and line up horizontally
        and take up 20% of the width of the ul */
    }
    .menu-h li a{
        color: #7D1C17;
        text-decoration: none;
        display: inline-block;
        background-color: #CA7773;
        width: 100%;
        text-align: center;
}
        
        .menu-h a,
        .menu-h a:link,
        .menu-h a:visited{
           
            
            
            /* style the anchors to fill the entire width of the li 
            make sure there is padding around your text */
        }
        .menu-h a:hover,
        .menu-h a:active{
            border-bottom: 10px solid #7D1C17;
            border-top: 5px solid #FD9590;
            margin-bottom: -10px;
            margin-top: -10px;
            background-color: #FD9590;
            transform: translate( 0, -10px );
        }
.menu-v{
    width: 20%;
    float:left;
    
}
    .menu-v li{
        list-style: none;
        width: 100%;
        display:block;
        
        
        
        
        /* style the list items to remove the bullets 
        and line up vertically
        and take up 100% of the width of the ul */
    }
    .menu-v li a{
        color: #7D4A47;
        background-color: #CA7773;
        width: 100%;
        text-decoration: none;
        display: inline-block;
        transition: background-color 0.4s ease; 
        transition: color 0.4s ease; 
        padding-left: 45px;
        border: 2px solid #7D4A47;
}
    .menu-v li:first-child{
        margin-top: 45px;
        
}
        .menu-v a,
        .menu-v a:link,
        .menu-v a:visited{
            
            /* style the anchors to fill the entire width of the li */
        }
        .menu-v a:hover,
        .menu-v a:active{
            color:#7D1C17;
            background-color: #FD9590;
            border: 2px solid #7D1C17;
            
            
        }
main{
    width:80%;
    float: right;
}
footer{
    clear:both;
    font-family: 'Alegreya', "Courier New", serif;
    color: #CA7773;
}